form(method="post" action="/todos")
  div
    input(type="text" name="todo[description]" value=newTodo.description placeholder="description")
  div
    input(type="text" name="todo[note]" value=newTodo.note placeholder="note")
  //- div
  //-   input(type="integer" name="todo[rank]" value=newTodo.rank placeholder="rank")
  div
    input(type="date" name="todo[due_date]" value=newTodo.due_date placeholder="due date")
  div
    input(type="submit", value="Get to steppin'")
