extends layout

block content

  h1= title
  p Welcome Back #{currentUser.email}


  h2 It All Starts With A Step
  ul
    h3 Your Steps
    for todo in todos
      li
        span= todo.description
      div
          button.btn(type='button')
            a(href="/todos/"+todo.id+"/uncomplete").btn LOWER PRIORITY

          button.btn(type='button')
            a(href="/todos/"+todo.id+"/complete").btn COMPLETE

          button.btn(type='button')
            a(href="/todos/"+todo.id+"/delete").btn DELETE




  h4 Make a Todo
  include ./_new_todo_form
    div
        a.btn.btn-default(href="/logout") Logout
