extends layout

block content

  h1= title
  p Signup Page
    form(action="/users", method="get")
      input(type="text" id="email", placeholder="Email")
      br
      input(type="text" id="password", placeholder="password")
      br
      input(type="submit", value="Signup Here")
